/* css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
/* --------------------background */
.container-fluid,body{
    /* margin: 0%; */
    background-image: url(./img/Sky+captions+for+Instagram.jpeg);
    background-size: cover;
    /* margin-bottom: 0px; */
    height:auto;
/* max-height:200vh; */
}
.row{
    padding-top: 5.5rem;
    padding-bottom: 5rem;
    
}
#imgPlace{
    display: inline;
    height: auto; 
    border: none;
}
/* -----------------------------header */
.header {
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: relative;
    color: rgb(12, 11, 6);
    text-align: center;
    padding: 5rem;
}
.header h1 {
    font-weight: 500;
    font-size: 34px;
    font-family: 'Indie Flower', cursive;
    color: #e4eff7;
}
.header p {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.5 rem;
    color: #e4eff7;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: #d0e5f5;
}
.main {
    /* background-image: linear-gradient(#424242, #757575); */
    background-color: #ffff;   
}
/* --------------------------------input section */
.inputs {
    padding: 6rem 0 2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.inputs input[type="text"] {
    height: 3.5rem;
    width: 30rem;
    background: #212121;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px #ed8e52;
    color: #ed8e52;
    border-radius: 2px;
    margin-left:27px ;   
}
.inputs input[type="submit"] {
    height: 3.5rem;
    width: 6.5rem;
    background: #ed8e52;
    font-weight: bold;
    color: ghostwhite;
    font-size: 1.5rem;
    border: none;
    border-radius: 2px;
}
/* -------------------------------display */
.display {
    text-align: center;
    color: #ed8e52;
}
.wrapper {
    margin: 0 9rem;
    width: 50%;
    background-color: #ffff;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
}
.wrapper h2{
    padding: 5px 0;
    text-align: center;
}
.wrapper p{
    text-align: center;
    margin:10px 0;
    font-size:20px;
  }
  .container-fluid, body {
    overflow-x: hidden;
}
  @media screen and (max-width:576px) {
    .inputs {
        padding: 2rem 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; /* Vertically center the input and button */
    }
    
    .inputs input[type="text"] {
        height: 3.5rem;
        width: 70%; /* Use percentage for responsive width */
        /* ... other styles ... */
    }
    
    .inputs input[type="submit"] {
        height: 3.5rem;
        width: 20%; /* Use percentage for responsive width */
        /* ... other styles ... */
    }
    #add{
        font-size: 90%;
    }
    #cityInput{
        font-size: 90%;
    }
    }
  
